fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
azure-ai-formrecognizer
azure-core
azure-cosmos
openai
pymongo
python-jose[cryptography]
passlib[bcrypt]
PyPDF2
python-docx
httpx
